@charset "utf-8";
/* CSS Document */
body{
	font-family: Verdana;
}
p, li{
	font-size: 14px;
}
a{
	color: #339933;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
tr > td:first-child{
	font-weight: bold;
}
h2{
	color: #000000;
}
h2:hover{
	text-decoration:none;
}
.title{
	text-align: center;
}
table{
	text-align: left;
}
label{
	width: 200px;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}
input{
	font-size: 14px;
	padding: 3px;
	border: 1px solid gray;
	border-radius: 5px;
}
.btn{
	background-color: #3366cc;
	color: white;
	font-weight: bold;
}
.btn:hover{
	cursor: pointer;
}
form{
	border: solid 1px gray;
	border-radius: 14px;
	width: 400px;
	padding: 15px 0 15px 15px;
}
.lbl{
	width: auto;
}
.hidden{
	display: hidden;
}
.inline!important{
	display: inline-block;
}